

.button {
  display: block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:.25em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  transition: all 0.2s;
  height: 2em;
  }

.nextButton {
  position: absolute;
  top: 50%;
  right:4em;
}
 .previousButton {
  position: absolute;
  top: 50%;
  left:4em;
}
/* .downButton {
  position: absolute;
  bottom: 90%;
} */


.select {
  display: block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.cart {
  width: 12em;
}
.quantity {
  width: 6em;
}
.selectSize{
  width: 10em;
}
.favorite {
  width: 2em;
}

.mainImage {
  width: 500px;
  height: auto;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
}

.imageThumbnail {
  width: 65px;
  height: 70px;
  float:left;
  padding: 0.5em
}

.imageThumbnailMain {
  width: 65px;
  height: 70px;
  border: 2px solid rgb(233, 12, 12);
  float:left;
  padding: 0.5em
}

.styleThumbnail {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}


.image-button-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

