


.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;

  }
  .button:hover{
    background-color:#4095c6;
  }
  @media all and (max-width:30em){
   .button3{
    display:block;
    margin: 0.2em auto;
  };
}

.select {
  display: block;
  width: 5em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

.mainImage {
  width: 350px;
  height: auto;
}

.imageThumbnail {
  width: 50px;
  height: auto;
  float:left;

}

.imageThumbnailMain {
  width: 50px;
  width: 65px;
  border: 2px solid rgb(233, 12, 12);
  float:left;
}


.styleThumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


