h3 {
  font-size: 2em;
}

a, button {
  cursor: pointer;
  margin-right: 10px;
}

/* ReviewList Component */
.review-list-container {
  flex-direction: column;
  margin: 10px;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}