:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

h3 {
  font-size: 2em;
}

/* Reviews Component */
.reviews-component {
  display: flex;
  flex-direction: row;
}

.main-component {
  margin-bottom: 6em;
}

.component-header {
  font-weight: 300;
  font-size: 1.24rem;
  margin-bottom: 1rem;
}

.review-summary-container {
  width: 33%;
}

/* ReviewList Component */
.review-list-component {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  max-width: 100%;
  overflow: hidden;
}

.review-list-container {
  width: 66%;
  flex-direction: column;
  margin: 10px;
  overflow-y: auto;
  overflow-x: visible;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

/* ReviewListEntry Component */
.review-tile {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  background-color: rgba(138, 138, 138, 0.027);
  margin: 1px 0 1px 0;
  width: 100%;
  overflow-x: hidden;
}

.review-tile a {
  text-decoration: underline!important;
  cursor: pointer;
}

.review-tile button {
  /* TODO: MATCH SAM'S */
}

.secondary-text {
  color:rgb(75, 74, 74);
  font-size: 0.8em;
}

.review-tile-header {
  display: flex;
  justify-content: space-between;
}

.review-tile-summary {
  font-weight: bold;
}

.review-tile-images {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.review-tile-image {
  margin: 5px;
  cursor: pointer;
}

/* MODAL COMPONENT */
.modal-component {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-component-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-component-header h2,
.modal-component-footer h3 {
  margin: 0;
}

.modal-component-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-component-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-component-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ProductBreakdown Component */
.product-breakdown {
  width: 100%;
  position: relative;
}

.bar-segment {
  margin-right: 1%;
  height: 90%;
  width: 30%;
  background-color: rgba(128, 128, 128, 0.568);
  margin: 1;
}

.subtext-container {
  display : flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.6em;
}

.subtext-label {
  display: inline-block;
}

.triangular-icon {
  display: flex;
  position: absolute;
  width: 10px;
}

/* Form Component */
label {
  font-size: 0.7em;
}

.checkboxgroup {
  display: inline-block;
  text-align: center;
}
.check-box-group label {
  display: block;
}

.required:after {
  content:" *";
  color: red;
}